include README
include VERSION
include LICENSE
include MANIFEST.in

recursive-include docs/ *
prune docs/build
prune docs/api

recursive-include demo/ *
recursive-exclude demo/ *.egg *.db *.po
prune demo/LDAPAuth.egg-info
prune demo/ez_setup

global-exclude *~ *.pyc
